*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    
}
.headertop{
    background-color:rgb(119, 116, 116);
    height:2rem;
    color: white;
    padding: 5px;
    

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
 li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.anchorstyle{
    display: flex;
    align-items: center;
    color:white;
    gap: 0.01rem;
    border: 5px;
    border-color: antiquewhite;
    justify-content: center;
}
.dropdownlink{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.headerbottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:1rem;
    justify-content: space-between;
    padding-bottom: 1rem;
    height:4rem;
    color:black;
    border-bottom:1px solid rgb(210, 201, 201);;
}


#logoimage{
    height: 30px;
    width:30px;
    
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left:auto ;
    margin-right: auto;
    padding:0 1rem;
   
   
    
}
header .container{

    display:flex;
        flex-direction: row;
        justify-content: space-between;
}

.iconbutton{
    border:none;
    background: none;
    color: black;
    font-size: 5px;
}
.icon{
    display:flex;
    gap:1rem;
    align-items: center;
    font-size: 10px;
    padding:2px;
   /* background-color: black;*/
}
#front_image{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.image_container {
    max-height: 285px; 
    overflow: hidden;
    
}
.text{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:0%;
    background-color: rgb(145, 216, 245);
    color:white;
    margin-top: 0%;
    

}

h2{
    margin-top: 20px;
    margin-bottom: 5px;
}
h1{
    margin-bottom:5px;
}
#discription{
    margin-bottom: 10px;
}
#buttonshopnow{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:0.5rem 2rem;
    border-radius: 30px;
    border: none;

}
.category{
    
   border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;
    }
    
.images{
    width:100%;
    
    object-fit: cover;

}
.cattext{
    display: flex;
     justify-content: center;
}
.productcategory{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;

}
.productcat{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.productlist{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1.5rem;
    border-radius: 0.5rem;
  }

/*.fstimage{
    margin-top: 20px;
}*/
.textalign{
    
    display: flex;
    align-items: center;
    margin-top: 5px;

}
.product{
        display:grid;
        grid-template-columns: 1fr 1fr ;
    
}
#logotext{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
   
}

.star{
    color: orange;
}
.priceandadd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.addbutton{
    background-color: rgb(47, 171, 47);
    border-radius: 4px;
    font-size: small;
    border: none;
            cursor: pointer;
           color: white;
            padding:5px;
}
.addbutton:hover{
background-color: rgb(24, 118, 24);
    /*transition: background-color 0.3s ease;*/
}
.textcolor{
    color: rgb(148, 142, 142);
}


 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
 li {
    display: inline;
    margin-right: 10px; 
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#flag{
    width:1rem;
}
.searchbutton{
    display: none;
}



.fstdivtext{
    display: none;
}
.productcategorytwo{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;

}
.productcategoryone{
    border: 0.5px solid rgb(224, 218, 218); 
    padding:1rem;
    margin-top: 20px;
    border-radius: 15px;
    width:100%;
    height: 275px;

}
.catstyle{
    display: flex;
    align-items: center;
}


/* Styles for screens between 576px and 767.98px (Small devices) */
@media  (min-width: 100px) and (max-width: 767.98px) {
    /* Your styles for small screens go here */
    .productcategoryone{
        display: none;
    }
    #populartext{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif; 


    }
    .headerlastdiv{
        display: none;
    }
    nav{
        display: none;
    }
    .headerbottom .container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #person{
        display:none;
    }
    #cart{
        display:none;
    }

}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium screens go here */
    .productcat{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .product{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }
    #front_image{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    .image_container {
        max-height: 1100px; 
        overflow: hidden;
    }
    .homepage{
       width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .homepagefirstdiv{
    
    background-color: rgb(145, 216, 245);
    }
    .text{
        display: none;
    
    }
    
    .fstdivtext{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:7rem;
        background-color: rgb(145, 216, 245);
        color:white;
       
     }
     .productcategory{
        display: none;

    }
    .productcategoryone{
        border: 0.5px solid rgb(224, 218, 218); 
        padding:1rem;
        margin-top: 20px;
        border-radius: 15px;
        width:100%;
        height: 250px;
    
    }
    .catstyle{
        width:600px;
        
        
    }
    h2{
        font-size: 50px;
    }
    #populartext{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif; 

    }
    .searchbutton{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 0.5rem;
        justify-content: center;
       
    }
    #searchInput {
        width: 500px; 
        border: 2px solid #ccc; 
        border-radius: 10px; 
        padding: 8px;
    }
    #menu{
        display:none;
    }
    
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    /* Your styles for large screens go here */
    .productcat{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .product{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }
    #front_image{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    .image_container {
        max-height: 1100px; 
        overflow: hidden;
    }
    .homepage{
        position: relative;
       width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .homepagefirstdiv{
    
    background-color:rgb(145, 216, 245);
    }
    .text{
        display: none;
    
    }
    .fstdivtext{
        display:flex;
        flex-direction: column;
        align-items: center;
        
        background-color: rgb(145, 216, 245);
        color:white;
        margin-top: 7rem;
        
     }
     .productcategory{
        display: none;

    }
    .productcategoryone{
        display: flex;
        justify-content: center;
        border: 0.5px solid rgb(224, 218, 218); 
        padding:1rem;
        margin-top: 20px;
        border-radius: 15px;
        width:100%;
        height: 300px;
    
    }
    
        
        
    
    h2{
        font-size: 60px;
    }
    
    h2{
        font-size: 60px;
    }
    #populartext{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif; 

    }
    .searchbutton{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 0.5rem;
        justify-content: center;
       
    }
    #searchInput {
        width: 500px; 
        border: 2px solid #ccc; 
        border-radius: 10px; 
        padding: 8px;
    }
    #menu{
        display:none;
    }
    
}




/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) 
{


    /* Your styles for extra large screens go here */
    #flag{
        width:1.5rem;
    }
    .searchbutton{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        
    }
    .headerbottom{
        display: flex;
        flex-direction: row;
        
        align-items: center;
        padding-top:1rem;
        padding-bottom: 1rem;
        height:4.5rem;
        color:black;
        border-bottom:1px solid #ccc; ;;
    }
    .searchproduct{
        color:rgb(209, 190, 190);
   
}
.searchbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    justify-content: center;
   
}
#searchInput {
    width: 500px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    padding: 8px;
}
#menu{
    display:none;
}

.productcat{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
#front_image{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.image_container {
    max-height: 1100px; 
    overflow: hidden;
}
.homepage{
    position: relative;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.homepagefirstdiv{
  position: relative;
background-color: rgb(145, 216, 245);
}
.text{
    display: none;

}
.category{
    
    border: 0.5px solid rgb(224, 218, 218); 
     padding:1rem;
     margin-top: 20px;
     border-radius: 15px;
     height:30%;
     }
     .fstdivtext{
        display:flex;
        
        
        flex-direction: column;
        align-items: center;
        
        margin-top:7rem;
        background-color: rgb(145, 216, 245);
        color:white;
        padding-left: 7rem;
        
     }
     .productcategoryone{
        border: 0.5px solid rgb(224, 218, 218); 
        padding:1rem;
        margin-top: 20px;
        border-radius: 15px;
        width:100%;
        height: 300px;
    
    }
    .productcategory{
        display: none;

    }
    .catstyle{
        width:800px;
        position: absolute;
        bottom: 0;
        right:3.5rem;
         translate: -65% 10%;
         z-index: 2;
        
        
    }
    .productsection{
        margin-top: 25%;
    }
    h2{
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #populartext{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif; 

    }
    
    .headerbottom .container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .headertop .container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}